body {
    font-family: 'Fredoka One', cursive;
    background-image: url(image/three-green-leaves.jpg);
    background-size: cover;
}

ul,
img,
a,
table {
    font-family: 'Fredoka One', cursive;
}

ul {
    background-color: rgba(168, 230, 207, 0.6);
    height: 50px;
}

img {
    height: 150px;
}

table {
    margin-top: 20px;
}

.table {
    background-color: rgba(220, 237, 193, 0.6);
}

div#container {
    height: 450px;
    width: 100%;
}

button {
    margin-top: 20px;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(220, 237, 193, 0.6);
}

#alterBox {
    margin: 200px auto 0;
    text-align: center;
    padding-top: 25px;
    width: 300px;
    height: 150px;
    background: #ffd3b6;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 3);
}

#hamster {
    position: absolute;
}